form {
    background-color: #2b303d;
    color: #F2F2F2;
    border-radius: 15px;
    width: 30vw;
    margin: auto;
    padding: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: block;
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

form input {
    margin: 1rem;
    padding: 0.5rem;
    width: 300px;
    border-radius: 5px;
    /* text-align: left; */
    font-family: helvetica;
}

button {
    margin-top: 10px;
    width: 140px;
    height: 40px;
    background-color: #2b303d;
    color: #F2F2F2;
    border-color: #F2F2F2;
    
    border-style: solid;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
}

button:hover {
    background-color: #F2F2F2;
    color: #2b303d;
    transition: all 0.4s ease 0.1s;
    cursor: pointer;
}
