
/* nav-bar */
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2B303D;
}

header li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    align-items: center;
    color: #F2F2F2;
    margin-right: 3rem;
    margin-top: 1rem;
}
.logo-svg {
    margin-left: 1rem;
    width: 5rem;
    height: 5rem;
}
