.list-item {
    background-color: #2b303d;
    color: white;
    border-radius: 30px;
    width: 300px;
    margin: 15px;
    padding: 10px;
    font-family: helvetica;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
