.traffic-light--green {
    width: 20px;
    height: 20px;
    background-color: #00cea2;
    border-radius: 50%;
}

.traffic-light--yellow {
    width: 20px;
    height: 20px;
    background-color: #ffcb23;
    border-radius: 50%;
}

.traffic-light--red {
    width: 20px;
    height: 20px;
    background-color: #fd3620;
    border-radius: 50%;
}
